.header_bottom2
  .header_bottom2_invitephoto
    .header_photo_above
      .page-container-responsive
        .floting_text
          .floting_text_field
            .floting_text_field_box
              .floting_text_field_box_inside
                .catchcopy
                  %h1.white.heavy.bold Earn money as an Airbnb host
                %p.white.space36 From saving for home repairs to taking a dream trip, hosts use extra income to fund their passions.
                .space36
                = link_to new_host_path, class:"btn btn-primary btn-large" do
                  Get start
.user_wrap.clearfix
  .user_content
    .host_block
      .floting_text
        .floting_text_field
          .catchcopy
            %h1.white.heavy.bold Get ready to meet your guests
          .space36
          = link_to new_host_path, class:"btn btn-primary btn-large" do
            Get start
        .hand-key
