.content.clearfix
  .main_content
    %h3.toppage Just booked in Tokyo
    .experiences
      .experience_box
        .experience
          .ex_image
          .subtitle
            .genre SAKE TASTING ·
            .currency ¥
            .price 8,000
          .introtitle Learn and Taste MANY Sake with an Expert
        .experience
          .ex_image
          .subtitle
            .genre SAKE TASTING ·
            .currency ¥
            .price 8,000
          .introtitle Learn and Taste MANY Sake with an Expert
        .experience
          .ex_image
          .subtitle
            .genre SAKE TASTING ·
            .currency ¥
            .price 8,000
          .introtitle Learn and Taste MANY Sake with an Expert
        .experience
          .ex_image
          .subtitle
            .genre SAKE TASTING ·
            .currency ¥
            .price 8,000
          .introtitle Learn and Taste MANY Sake with an Expert
    %h3.toppage Just booked in Taiwan
    .experiences
      .experience_box
        .experience
          .ex_image
          .subtitle
            .genre SAKE TASTING ·
            .currency ¥
            .price 8,000
          .introtitle Learn and Taste MANY Sake with an Expert
