.show_top.clearfix
  .show_top_image
.show_content.clearfix
  .show_content_main
    .show_content_main_left
      .nav
      .title_area
        %h1.title.heavy Secluded Intown Treehouse
        .sub_title
          .roomtype Entire treehouse
          %span •
          .location Atranta
        .host_image
          .host_image_box
            .host_image_icon
              .host_image_icon_badge
              .host_image_icon_round
                = image_tag("host.png")
      .room_data
        .room_data_set
          .room_data_set_content
            .icon_box
              .icon
            .host_image_name
      .booking_form
        .booking_form_box
          .price
            .price_content ¥ 43,192per night
          .form
            .form_inputarea
              .form_inputarea_checkin
                .form_inputarea_checkin_left
                .form_inputarea_checkin_right
              .form_inputarea_guests
            .btn_area
              .btn.btn-primary.btn-large.btn-block Request to Book
              .comment You won’t be charged yet
            .host_title
              .grayline
              .textarea
                .text
                  .text_upper.heavy This home is on people’s minds.
                  .text_bottom It’s been viewed 500+ times in the past week.
          .report
      .descriptions

    .show_content_main_right
