.clearfix {
    *zoom: 1;
    &:after {
        content: ".";
        display: block;
        clear: both;
        height: 0;
        visibility: hidden;
    }
}

.italic {
  font-style: italic;
}

.fix {
  position: fixed;
}
.header_position_space{
    height: 106px;
}

.menu_list{
  z-index: 10;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: white\0;
}
.cross {
  cursor: pointer;
  background-color: transparent;
  color: buttontext;
  border: 0px;
  display: block;
}

.arrowtobottom{
  right: 16px;
  position: absolute;
  top: 16px;
  line-height: 0;
}

body {
    font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.43;
    color: $gray;
    background-color: #fff;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h2 {
    font-weight: 700;
    color: $gray;
    font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif;
    margin: 0px;
    word-wrap: break-word;
    font-size: 28px;
    line-height: 32px;
    letter-spacing: -0.6px;
    padding-top: 2px;
    padding-bottom: 2px;
}

li{
  list-style-type: none;
}

a {
  &:link {
    text-decoration: none;
  }

  &:visited   {
    text-decoration: none;
  }

  &:hover {
    text-decoration: none;
  }

  &:active {
    text-decoration: none;
  }
}
