$skyblue: #38AEF0;
$darkblue:#253141;
$blackblue:#2f3e51;
$light_gray:#DBDBDB;
$gray:#484848;
$darkgray:#434A54;
$darkdarkgray:#767676;
$white:#ffffff;
$whitegray:#F2F2F2;
$green:#008489;
$orange:#FF5A5F;
$gray76:#767676;

